.nav {
    &.nav-pills {
        li {
            margin: 0 0.15rem;
            a {
                border-radius: 0.25rem;
                cursor: pointer;
                color: #b5b5c3;
                &:hover:not(.active) {
                    color: #337ab7;
                }
            }
        }
    }
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0 0.25rem;
        position: relative;
        display: flex;
        align-items: center;
        &:first-child {
            padding-left: 0;
        }
        a,
        .more {
            display: block;
            text-decoration: none;
            font-size: 14px;
            padding: 0.65rem 1.1rem;
            border-radius: 4px;
            color: #6c7293;
            font-weight: 600;
            transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
            cursor: pointer;
            &:hover,
            &.active {
                background-color: rgba(77, 89, 149, 0.06);
                color: #3699FF;
            }
        }
        .more {
            i {
                margin-left: 3px;
                vertical-align: text-bottom;
            }
        }
        &:hover {
            .more {
                background-color: rgba(77, 89, 149, 0.06);
                color: #3699FF;
            }
            ul {
                display: block;
                -webkit-animation: header-menu-submenu-fade-in 0.3s ease 1, header-menu-submenu-move-down 0.3s ease-out 1;
                animation: header-menu-submenu-fade-in 0.3s ease 1, header-menu-submenu-move-down 0.3s ease-out 1;
            }
        }
        ul {
            list-style: none;
            position: absolute;
            margin: 0;
            padding: 10px 0px;
            top: 100%;
            z-index: 3;
            background: #fff;
            -webkit-box-shadow: 0px 15px 50px 0px rgb(82 63 105 / 15%);
            box-shadow: 0px 15px 50px 0px rgb(82 63 105 / 15%);
            border-radius: 4px;
            width: 200px;
            display: none;
            li {
                padding: 0;
                display: block;
                a {
                    font-weight: 600;
                }
            }
        }
    }
}

.nav-menu-dropdown {
    .dropdown-toggle {
        font-family: $font-family-base;
        font-weight: 600;
        height: 39.19px;
        font-size: 13px;
        display: flex;
        align-items: center;
        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 150px;
            display: block;
            text-align: left;
        }
    }
    .dropdown-menu a {
        font-family: $font-family-base;
        font-size: 13px;
    }
    &.show {
        .dropdown-toggle {
            background-color: #3699ff !important;
        }
    }
}

@keyframes header-menu-submenu-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes header-menu-submenu-move-down {
    0% {
        margin-top: 10px;
    }
    100% {
        margin-top: 0;
    }
}